.left
  .side-header
    = render partial: 'layouts/side-header'
  .groups
    = render partial: 'layouts/group'
.right
  .main-header
    = render partial: 'layouts/main-header'
  .messages
    = render partial: 'layouts/message'
  .form
    = render partial: 'layouts/form'